ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
li {
    float: right;
    background-color: #333;
    position: relative;
}
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.titelbild {
    width: 300px;
    display: block;
    margin: auto auto auto auto;
    text-align: center;
}
.content {
    max-width: 550px;
    margin: 0 auto;
    background: rgb(189, 250, 132);
    padding: 10px;
    border-radius: 20px;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    nav ul {
        flex-direction: column;
    }
    li a {
        justify-content: center;
    }
}
body {
    font-family: 'Fjalla One', sans-serif;
}
.inter {
    width: 550px;
}
.internet {
    max-width: 550px;
    margin: 20px auto 20px auto;
    background: rgb(255, 219, 100);
    padding: 10px;
    border-radius: 20px;
}
.html {
    max-width: 550px;
    margin: 20px auto 20px auto;
    background: rgb(253, 115, 35);
    padding: 10px;
    border-radius: 20px;
}
.css {
    max-width: 550px;
    margin: 20px auto 20px auto;
    background: rgb(66, 132, 253);
    padding: 10px;
    border-radius: 20px;
}
.praxis {
    max-width: 550px;
    margin: 20px auto 20px auto;
    background: rgb(255, 45, 45);
    padding: 10px;
    border-radius: 20px;
}
.ul {
    display: flex;
    flex-direction: column;
}
.ulli {
    float: left;
    background:none;
    list-style-type: circle;
}
.ide {
    max-width: 550px;
    margin: 20px auto 20px auto;
    background: rgb(209, 111, 255);
    padding: 10px;
    border-radius: 20px;
}
