ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
li {
    float: right;
    background-color: #333;
    position: relative;
}
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.logo {
    height: 150px;
    width: auto;
    float: right;
    margin: 80px 100px 0px 0px;
}
.titelbild {
    width: 300px;
    display: block;
    margin: 0px auto 0px auto;
}